[2018-08-25 13:27] lakipatel opened #1 "Mark the package as a favorite"
I have one suggestion, can we mark the package as a favorite?

[2018-08-25 14:05] mattstauffer commented on #1
Could you tell a little more about what the goal is? Would this be for you to save a list for easier user later? Or something else?

[2018-08-25 14:26] lakipatel commented on #1
Sure, My goal is, I want my favorite packages in the separate section.
I am sure after some week or months we will have a huge amount of packages so the users can easily find their packages which they marked as favorite.

For example, you can check https://packagist.org/.
here you will find the separate section for **My favorites** so any time if I need my favorite package I can get it from there.

[2018-08-25 20:25] vmitchell85 opened #2 "Editing Packages"
Forgot to add an image to the package description... doesn't look like there is any way to edit them.

[2018-08-25 20:27] mattstauffer commented on #2
You can edit any package for which you are an author.

This is true for any of your collaborators you maintain.

So  I maintain the `mattstauffer` collaborator and the `tightenco` collaborator and therefore I can edit any packages that are authored by either of those collaborators.

<img width="575" alt="image" src="https://user-images.githubusercontent.com/151829/44622289-bb382080-a883-11e8-9098-

[2018-08-25 20:27] #2 closed

[2018-08-25 20:28] mattstauffer commented on #2
That said.. I just found a bug on the edit package page that I must've introduced yesterday. I'll fix it ASAP. 😬

[2018-08-25 20:28] vmitchell85 commented on #2
Ahh.. was looking for a link on the package page

[2018-08-25 20:28] vmitchell85 commented on #2
I presume you mean this:
![image](https://user-images.githubusercontent.com/1248035/44622301-e4f14780-a883-11e8-9b1b-4c9a56d6b0ec.png)

[2018-08-25 20:29] vmitchell85 opened #3 "Package Creator Link"
It seems you're pulling the URL from the github user's profile but linking to novapackages.com otherwise. Which can be confusing since it seems to go nowhere if you're already on the main page.

[2018-08-25 20:30] mattstauffer commented on #3
By that I think you mean "If a collaborator doesn't have  URL specified, it just links to "" which takes the user to novapackages.com", right? If so, we noticed that yesterday--thanks, good catch!

[2018-08-25 20:32] vmitchell85 commented on #3
Yep... I was just mousing over and seeing chrome show me the url... but upon further inspection the `href` is just `""`...

[2018-08-25 20:34] vmitchell85 opened #4 "Allow Package Sorting"
It seems the main display of packages is by date added. It would be nice to be able to sort by name or rating etc.

[2018-08-25 20:35] vmitchell85 commented on #1
I would also like this feature.

[2018-08-25 20:49] mattstauffer commented on #2
Fixed now.

[2018-08-25 20:52] mattstauffer commented on #3
Pushed a quick fix; for now it'll just send you to `#` (same page) if the author has no URL.

[2018-08-25 20:52] #3 closed

[2018-08-26 14:07] randyrankin opened #5 "View Other Packages By Author"
Great work Tightenco team! Love this resource.

A "view other packages by this author" link (maybe on package detail view under author's name?) could be really useful.

[2018-08-26 14:31] shirshak55 opened #6 "show github url"

[2018-08-26 17:31] mattstauffer commented on #6
We will likely move it elsewhere, but I've (probably temporarily?) added it here:

<img width="320" alt="image" src="https://user-images.githubusercontent.com/151829/44631016-2e00d480-a934-11e8-9bfd-532ae88f126e.png">

[2018-08-26 17:31] #6 closed

[2018-08-27 13:17] naifalshaye opened #7 "Installation Instructions Markdown Error"
I can't view or edit the package after it's been added anymore.

The <body> section just disappear due to an error that showing in console which says
"env is not defined"

That's caused by the markdown content in the Installation Instructions textarea.

Because of the below line:
`<script src="https://maps.googleapis.com/maps/api/js?key={{env('ADDRESS_AUTOCOMPLETE_API_KEY')}}&libraries=places"></s

[2018-08-27 18:05] naifalshaye commented on #7
Tested in Chrome & Firefox

Problem has been solved by pausing script execution and removing the line from Installation Instructions that contains this code {{env('.

BR,
Naif

[2018-08-27 23:01] dillingham opened #8 "Star count & button / Github star API"

[2018-08-27 23:07] dillingham opened #9 "Tag counts for sidebar and mobile dropdown"

[2018-08-28 10:31] AaronHolbrook opened #10 "Add an RSS feed for new packages"
Something to be able to monitor new arrivals would be awesome

[2018-08-28 14:06] ashleydance opened #11 "Package Search"
It would be nice to have a search bar that filters the packages based on name.

At the moment it's quite hard to find what packages if you're not sure what kind of category it will fall under.

[2018-08-29 15:21] vmitchell85 commented on #11
It seems search has been added but it reading the whole markdown instead of the parsed markdown... so a search for `image` give more than you'd want... You can easily test by searching for `githubusercontent`

[2018-08-29 15:25] mattstauffer commented on #11
@vmitchell85 the current one is very dumb and simple :) we're going to be updating it to add dropdowns, smarter searching, and likely a different UI. Just trying to push early and often. Thanks for the note!

[2018-08-29 15:27] mattstauffer commented on #11
(Basically, it just uses the basic Algolia Scout `search()` which we need to optimize)

[2018-08-29 15:30] vmitchell85 commented on #11
Just trying to provide feedback... the site just keeps getting better and better! Thanks for the hard work!

[2018-08-29 17:56] mattstauffer commented on #11
@vmitchell85 totes <3 thanks!!

[2018-08-29 18:03] mattstauffer commented on #10
@vootrunner You'll enjoy the new home page's "Recent" section, I think. Right now it just shows the latest 6 entries, but we'll probably keep refining how to get the best "recent additions" list out of there.

<img width="1476" alt="image" src="https://user-images.githubusercontent.com/151829/44806149-2a6b8880-ab94-11e8-8375-538933e1ffb1.png">

@AaronHolbrook Sounds like a good idea. We have an AP

[2018-08-29 18:14] vootrunner commented on #10
@mattstauffer - probably not as useful as something time based. If the last 6 packages encompass a span of something less than the period of time since my last visit,  then there isn't a way to discover new submissions in that interval. Finding new stuff only gets more difficult as the number of packages increases.

With a time bound filter, I can be assured that if I visit within the time boundar

[2018-08-29 18:35] mattstauffer commented on #10
https://novapackages.com/feeds/recent

[2018-08-29 18:36] mattstauffer commented on #10
@vootrunner yah, I'm aware there are more things we can do. Please feel free to open a new issue for discussion of how to iterate on that "recent" section if you'd like--thanks! So glad you're liking it :)

[2018-08-29 18:36] #10 closed

[2018-08-29 18:36] mattstauffer commented on #11
Closing since it exists, but I plan to continually improve it.

[2018-08-29 18:36] mattstauffer commented on #7
This is fixed

[2018-08-29 18:36] #7 closed

[2018-08-29 21:28] Diddyy opened #12 "Open links in a new tab"
All the links around the site to external sites currently open in the same tab which is annoying when I look at a package. For example when I want to inspect a packages code I click a link on the side to go to their github or even click any link in the readme to find out more about the package and it opens in my current tab.

Would make for a better (In my opinion) user experience if you could cha

[2018-08-30 00:29] mattstauffer commented on #12
In general, we try to avoid `target="_blank"` as it has a few problems with it. You can read about a couple here: https://css-tricks.com/use-target_blank/

As such, we tend to just allow our users to develop the habit of cmd-click/ctrl-click-ing our sites.

I totally feel your pain. I wish there were better solutions all-around. :)

[2018-08-30 00:29] #12 closed

[2018-08-30 14:16] bbrala opened #13 "Although mostly about packages, is this app allowed?"
I feel people who use Nova could really use this, but technically it isn't a package, so i wonder, would you allow this on the site?

https://github.com/swisnl/laravel-nova-mirror

This application enables you to update a private mirror of Laravel Nova automatically. It downloads releases from the Nova site and updates a repository with the correct releases.

[2018-08-30 16:50] mattstauffer commented on #13
Sure!

[2018-08-30 16:50] #13 closed

[2018-08-30 20:03] m-a-k-o opened #14 "Mobile menu is displaying incorrect menu title"
![0c4122f8-74cc-4578-8663-b042a31ab54e](https://user-images.githubusercontent.com/6873535/44876171-86233800-aca0-11e8-9d46-5bcdad160108.jpeg)

Selected item should be All Packages ;)

[2018-08-30 22:58] dillingham opened #15 "Twitter profile & automatic new package tweet"

[2018-08-31 14:23] m-a-k-o opened #16 "List of packages is not correctly aligned"
Occurs when search for analytics on example.

![image](https://user-images.githubusercontent.com/6873535/44917939-0ba6f680-ad3a-11e8-8e46-68aeebe0983b.png)

[2018-08-31 16:22] SL0wZEr opened #17 "Popular Packages Section"
I see that the popular packages haven’t changed since they’ve been “added” to the website, I’m not sure but I always see this as a not so good thing especially if it is visible above the fold.

I suggest that you either put the recent packages at the top or you change the functionality of the popular packages to something like “Today’s popular packages” or so.

[2018-08-31 18:41] mattstauffer commented on #16
Fixed. Thanks!

[2018-08-31 18:41] #16 closed

[2018-08-31 20:29] dillingham opened #18 "Package comments"
In the WordPress world, a highly rated package could very well have been buggy. Reading a few comments usually solved that headache.

[2018-09-01 00:43] MDooley47 commented on #1
I would like this as well. Either a favorite or some other saved for later method.

[2018-09-02 01:46] mattstauffer commented on #17
The popular packages right now is github_stars (times a magic multiplier) + packagist_downloads (times a magic multiplier). We will be adding ratings soon. When we have more time we'll likely add something like "popular recently" vs "popular all-time".

[2018-09-02 03:16] mattstauffer commented on #15
The only significant technical challenge I can think of is that we would have to figure out

A) how avoid people using it to be shitty and spam, and
B) how to handle draft packages (do we add a note saying "hey if you create this package as a draft you just won't get a tweet"? do we listen for the first time they ever move it from draft to non-draft and tweet then (ugh sounds gross)? something els

[2018-09-02 05:01] dillingham commented on #15
Maybe “A tweet to promote this package will go live 24hrs after it is published”

Let’s people edit as draft and avoids spam, as an opportunity to inspect is presented. Also removes the incentive if spammers know it isn’t immediate and reviewed.

[2018-09-02 19:00] mattstauffer commented on #15
I think thats a great idea. It still would require us to decide how to handle packages that spend a long time as a draft but I’m ok with leaving that to be decided when we implement it. The Approval queue idea is more complicated and requires more work on our part but it potentially alleviates the spam issue, like you’re saying.

I’ll think about it a bit and then we will likely do something like

[2018-09-02 21:34] SL0wZEr commented on #17
My point was more about the user experience. At the moment when someone revisits the website, he will see the same "old" packages he saw before. That's why I suggested moving the **Recent Packages** section to the top, before the **Popular Packages** section :D

[2018-09-02 21:46] vootrunner commented on #15
@mattstauffer - set a time limit on draft status and when it expires, drop the unpublished entry, or set it to a zombie status that is ignored and requires manual intervention from the submitter to move back to draft status. I can't imagine a valid reason to have a package in draft status for an unlimited period of time.

- Sam

[2018-09-03 08:07] imlida opened #20 "resource not search int"
if search field is number, it is not can match it

[2018-09-03 15:42] RicardoRamirezR opened #21 "After login not returning to previous page"
Hi there,

It is redirected to home page.

Thank you for your work.

[2018-09-04 00:14] mattstauffer commented on #21
100% agree, it drives me bonkers. <3

[2018-09-04 12:17] mattstauffer commented on #17
@SL0wZEr Yep, I got it. :) Thanks! I understood your suggestion, but I had no feedback there; I think it's a good idea and I've been considering it for a while and it'll likely happen. However, I did have feedback on the popular section feeling old, so I gave that. Thanks again!

[2018-09-04 12:17] #17 closed

[2018-09-04 12:52] mattstauffer commented on #15
Yah, I think the broader question here is about draft status. How people use it, whether it's useful now that Nova is published, etc.

[2018-09-04 13:44] dillingham commented on #15
As far as the feature goes, it just needs a published_at timestamp and a chron that checks every hour for any packages published 24 hours ago. Draft status seems unrelated as it is regarding promoting published packages.

[2018-09-04 15:40] mattstauffer commented on #15
@dillingham What happens if someone publishes and then unpublishes a package? It'll get tweeted multiple times. Then you have to add a tweeted_at property or another place where these sorts of things are tracked. All simple enough but adding increasingly levels of complexity for what feels like a simple feature.

[2018-09-04 15:55] vootrunner commented on #15
I've been under the impression that drafts were used as a method to pre-stage a package with a future "go live" date so that the maintainer have an announcement day. If that's not the case, then I don't think drafts are worth the hassle.

[2018-09-04 16:18] dillingham commented on #15
Matt, only let publish once.

[2018-09-04 20:47] mattstauffer commented on #15
@dillingham I agree; but that's more technical complexity. :) Some of the complexity on these issues are decisions we have to make; some of them are code we need to write and architecture we need to introduce and every such piece of code and/or architecture are now technical debt that need to be maintained.

What I am assessing is whether the cost of maintaining a Tweeting system that handles the

[2018-09-04 21:14] dillingham commented on #15
Make a microservice that checks the rss

Last suggestion, I’m chiming out :)

[2018-09-05 01:13] mattstauffer commented on #15
@dillingham Haha, that's also possible, but runs into all the same problems. Please trust me: If I spend as much time deciding what to do with drafts as we have spent going around on ideas here, we'll fix the draft issue and then implement this feature. Thank you for your suggestions! <3

[2018-09-05 11:45] #18 closed

[2018-09-06 05:24] marktopper opened #22 "Recent Packages Feed Update Trigger"
Hi, I am using Slack to subscribe to `Recent Packages` RSS feed.
However, it seems that it triggers a new item when a package is updated, is that meant to be like that?

If so, would there be a way to have a feed that doesn't re-trigger an item on update?

[2018-09-06 11:45] mattstauffer commented on #22
It’s not on purpose. I bet I just copied the setup code wrong and it pulls updated at instead of created at. I’ll take a look as soon as I can.

[2018-09-06 17:53] NikolaySav opened #23 "Package won't update"
Greetings!

I've submitted a package and modified it later on github and packagist.
But at novapackages.com it doesn't update (version, description etc).

https://novapackages.com/packages/nsavinov/nova-json-schema-field

Should i initiate a manual update or what is the autorefresh time?

Thanks.

[2018-09-07 09:07] NikolaySav commented on #23
after 20 hours it was automatically updated.
Closing issue.

[2018-09-07 09:07] #23 closed

[2018-09-10 07:38] king724 opened #24 "Make tags clickable on Package Detail Page"
On the right sidebar within a package detail page, the tags can't be clicked on (like you can on the homepage). I think it would be great if you could click on them and it would send you to the filtered home screen.

Unclickable tags in question:
<img width="393" alt="screenshot 2018-09-10 00 36 40" src="https://user-images.githubusercontent.com/350488/45283046-a073c780-b491-11e8-8c63-018a3524734c

[2018-09-10 07:46] king724 opened #25 "Filters are forgotten"
After selecting a filter (or tag) on the homepage, clicking to view a package, then hitting browser back button removes the filter.

**Steps to reproduce**
1. Load [novapackages.com](https://novapackages.com)
1. Click 'card' filter.
1. Click on Google Analytics card
1. Click back in the browser

**Current Result**
Get redirected back to unfiltered homepage.

**Desired result**
Get sent back to the

[2018-09-10 12:20] vv221 opened #26 "JavaScript TypeError on package page"
On the following package page: https://novapackages.com/packages/yeswedev/nova-translatable

The page contents aren’t loaded because of a JavaScript error:
[code]

[2018-09-10 20:57] dillingham opened #27 "Fixes for install input"

[2018-09-12 19:52] chris-ware opened #28 "Open API beyond recent and popular"
It's be great to be able to query the API to get a list of all the available packages, not just the most recent and most popular. I can't see any ability to be able to do this, so thought I'd suggest it as I would definitely make use of it.

[2018-09-13 00:18] mattstauffer commented on #28
@chris-ware Thanks! Could you give some examples? One thing we might do is make a more robust API available but only behind API keys--which means it couldn't be used in packages. Whether you're interested in using this in a package or in your own app would have an impact on how we approached the best solution.

Thanks!

[2018-09-13 13:06] chris-ware commented on #28
@mattstauffer
So, I'm creating a small system that tracks nova packages and creates a daily email of new, popular and recently updated packages. This is because myself and several of my colleagues spend far too long browsing the site checking for new packages. Whilst the recent and popular APIs cover this, it does mean that if there is a sporadic influx of packages, I may miss some if the collecti

[2018-09-13 15:00] lesaff opened #29 "Add a comment field for Package ratings"
FR: Add comment field for ratings.

I think it would be nice to be able to see why people rate certain packages as 5 stars or 1 star. As a potential package user, I would like to know why it was rated highly or poorly. I am sure package authors would love to see real feedback rather than just stars.

What do you think?

[2018-09-13 16:52] mattstauffer commented on #29
Totally agreed! We've discussed it in a few other issues and I completely agree it's a good idea.

[2018-09-14 23:05] dillingham opened #30 "Expand popular section to 6 packages vs 3"
![screenshot](https://user-images.githubusercontent.com/29180903/45578704-2eb0ca80-b851-11e8-92a1-bc29b1c94766.png)

fills up the empty space at the bottom

[2018-09-14 23:07] dillingham commented on #30
I would also remove "See More" and rely on the All packages, ordered by recent
Or change "See More" to "See All Recent" and just link to that page

[2018-09-16 01:37] mattstauffer commented on #30
The reason I split it out into 3 in each row was to increase the likelihood that anyone is aware there's both recent and popular as options.

However, I definitely get that that's not the concern with popular, only with recent. But then I sort of think it would be a bit weird for one to be show-3-hide-3 and the other to not be... so.. basically.. i don't know how best to handle this.

One way woul

[2018-09-16 01:47] dillingham commented on #30
Yeah, Im just suggesting to extend the popular to fill empty space.
Recent gets more love, currently, with that top row and the view all option ordered by date.
Popular deserves the extra row haha idk honestly just babbling

I do think tags are valuable if they only showed tags with packages & counts per
Probably will need more soon: Localize & 3rd Party. Lots of packages for "intercom this" and "

[2018-09-16 16:13] manogi commented on #25
Would like to add that it is also the "<- back" Link in the upper left corner which has the same "problem", as it also does not lead to the filtered homepage. I just get started with Nova, so I click "All Packages" a lot, then scroll down and click on some card. The desired (and "learned") effect would be to land on the homepage with all Packages at the scroll position where I was before (at least

[2018-09-17 00:28] mattstauffer commented on #25
Totally agreed! Thanks for this feedback; it's 100% on our list!

[2018-09-17 02:42] mattstauffer commented on #26
Fixed Thanks!

[2018-09-17 02:42] #26 closed

[2018-09-17 02:48] mattstauffer commented on #22
@marktopper I took a look, and the RSS feed just grabs the latest twenty `created_at`, which shouldn't change the list based on `updated_at`. However, it *does* pass an `updated` parameter, which will be updated. Maybe Slack watches that key? One thing I guess would be possible if that's the case is to set that `updated` property to just the `created_at` but that seems kinda weird. I'm curious wha

[2018-09-17 02:50] mattstauffer commented on #20
Closing unless clarification is provided.

[2018-09-17 02:50] #20 closed

[2018-09-17 02:53] mattstauffer commented on #28
@chris-ware What endpoints would you most like to use for something like this? And are there any requests outside of the API that we could help you with to make it easier for you to discover new packages?

[2018-09-17 02:57] mattstauffer commented on #30
Great points. Doing now. :)

[2018-09-17 02:57] #30 closed

[2018-09-17 05:46] marktopper commented on #22
I see, I will take a quick talk with Slack on the issue and get back :)

[2018-09-17 13:31] mattstauffer commented on #15
We're dropping drafts, so this can now be up on our list again. :)

[2018-09-17 20:40] chris-ware commented on #28
@mattstauffer Just the ability to be able to get all the packages, even if it were paginated and limited, just to be able to collate them would be grand.

[2018-09-18 01:06] mattstauffer commented on #8
@dillingham Why did you close all these issues?

[2018-09-18 01:42] mattstauffer commented on #8
@dillingham NOPE! We just have a lot so it takes time to work through them. :) Thanks!!

[2018-09-18 08:33] vv221 commented on #26
I confirm eveything is working smoothly now, thanks for fixing it quickly ;)

[2018-09-19 08:59] marktopper commented on #22
Slack says that they has issues with their RSS reader.
Thanks for checking it out though.

[2018-09-19 08:59] #22 closed

[2018-09-19 12:52] mattstauffer commented on #22
@marktopper ahh, great to hear--thanks! :)

[2018-09-19 21:45] dillingham opened #31 "Adding autofocus to searchbar"

[2018-09-23 19:15] vootrunner commented on #29
It would be nice to see something displayed on a package's card that would help a consumer form an opinion of the "health" and "quality" of a package. This becomes more of an issue over time as packages are abandoned, superseded by features added to Nova directly, become broken by Nova updates etc.

Being a "Popular package" (not sure how that is measured. Clickthroughs?) lends an air of legitimac

[2018-09-24 19:29] mattstauffer commented on #31
Great idea--we'll add it to the list to at least test it out!

[2018-09-25 19:47] mattstauffer commented on #29
@vootrunner I think this is a lot of really good thinking here.

Right now popularity is a combination of GitHub stars and Packagist downloads. We also plan to add the ratings to that calculation.

I've been thinking of the way WordPress shows "compatible with" but haven't yet dug into how they actually figure that out.

I wonder; before we build a system like that, would it be helpful to have som

[2018-09-26 07:08] richardkeep opened #32 "Fix anchor link for Github repo"
When the link is too long, it goes beyond the page and gets hidden (because of overflow:hidden property)

Maybe you should break it into a new line. Check this screenshot

![link](https://user-images.githubusercontent.com/3874381/46062902-d6909700-c173-11e8-888c-ffc2817a7d04.PNG)

[2018-09-26 09:30] cendekia opened #33 "Can login, but can't access my package"
I don't know why I can't access my package today.

these are the errors:

![input email](https://i.imgur.com/z9d3ZVH.png)
![after submt email](https://i.imgur.com/C4OlfHG.png)

[2018-09-26 15:03] mattstauffer commented on #28
@chris-ware You still building this? Finally getting to my emails.

[2018-09-26 17:09] chris-ware commented on #28
@mattstaufer I have actually got most of my small system built for this. For legacy packages, I managed to get most of what I needed from the Nova Packages site itself, but it would be great to be able to get it all via API.

[2018-09-26 22:59] vootrunner commented on #29
The more I think about flagging packages as broken, the more it just feels a little too easy to game and to do it right it starts to get heavy.

Pure spit-balling, but how about calculating  a star score over the last X days and compare that to the average score on the last X months and show either an up or down arrow indicating the quality trend over time. (e.g. 4.5 and falling or 3.8 and rising)

[2018-09-27 19:37] mattstauffer commented on #28
@chris-ware OK, it's up. It's behind API auth, so you'll have to set up a Passport token here: https://novapackages.com/app/api

[2018-09-27 19:37] #28 closed

[2018-09-28 15:32] ctroms commented on #33
Hey @cendekia! Sorry about that. This issue has been resolved. Thanks for your patience.

[2018-09-28 15:32] #33 closed

[2018-09-28 19:49] dillingham opened #34 "Sort Package Ideas By Reaction Count"
Would create a hierarchy and prioritization of more desired ideas.  😅

[2018-09-29 02:44] cendekia commented on #33
@ctroms Thank you very much 👍

[2018-10-01 17:36] mattstauffer commented on #34
How do you consider thumbs downs?

[2018-10-01 19:14] dillingham commented on #34
Could subtract a thumbs up for every thumbs down. Negatives being sorted to the bottom. But I think naturally anything with thumbs up would go to the top regardless of thumbs down, none so far I think.

[2018-10-02 07:34] yabasha opened #35 "Feature Request: Profile Page"
Hi,

It would be a good feature to make a profile page for each user which includes the packages he like, favorite, state, his github link, etc. and his account settings: password change.

Favorite packages where user can find list of packages he favorited, and this requires a favorite icon on package/s page.

Cheers,

[2018-10-05 12:49] ibrunotome opened #36 "Feature Request: Package added date"
Just a label showing when this package was added on the details

[2018-10-05 12:50] ibrunotome opened #37 "Feature Request: Search from everywhere (topbar)"
It’s just put the “search packages" input of the home, into the navbar to search from anywhere on https://novapackages.com

[2018-10-06 07:29] johnpaulmedina opened #38 "Back Button"
append some type of url hash every time you click back it will reset the view. Have to start all over.

[2018-10-08 13:58] mattstauffer commented on #34
Interesting idea!! :) Thanks for the suggestion; I've put it on the task list.

[2018-10-11 14:32] manogi commented on #23
Hi everyone - I don't want to open a new issue for this, but could that be refreshed a bit more often? may be like every 15 mins or so? That would be awesome!

[2018-10-11 14:37] manogi commented on #38
This seems to be the same issue: #25

[2018-10-11 14:48] dillingham commented on #37
@ibrunotome is this different than the global search feature that exists currently?

[2018-10-11 14:52] mattstauffer commented on #38
Thanks @manogi -- I tried to find it to link it but couldn't.

[2018-10-11 14:52] #38 closed

[2018-10-11 15:10] mattstauffer commented on #23
@manogi Could you open an new issue and describe what pain point you're experiencing? Thanks!

[2018-10-11 15:43] manogi opened #39 "Check the version of packages more often"
It would be nice if the version of the packages would be checked more often. When I update my package to a new version this will show right away on packagist, but on novapackages.com it takes very long (a day?) until the version number is updated.

A button to manually check the version on the "edit package" page would be great, too.

[2018-10-11 16:19] ibrunotome commented on #37
No, it’s just put the “search packages" input of the home, into the navbar to search from anywhere on https://novapackages.com

Bruno Tomé
https://github.com/ibrunotome
On 11 Oct 2018 11:58 -0300, Brian Dillingham <notifications@github.com>, wrote:

[2018-10-12 03:00] mattstauffer commented on #39
It checks them every 5 minutes, but I bet what you're running into is the fact that Packagist itself caches some of the data for twelve hours.

We can update our calls to use their second API which has a shorter cache period, but is apparently slower.

Would you do me a favor? Next time you notice your package seems out of date on NovaPackages.com, wait ten minutes, and if it's still out of date,

[2018-10-12 12:29] ctroms commented on #36
Hey @ibrunotome,  We just want to clarify one thing before releasing this feature. By "when the package was added" are you referring to the date the package was added to NovaPackages or the date the package was added to packagist?

[2018-10-12 13:19] ibrunotome commented on #36
The date the package was added to NovaPackages.

[2018-10-12 14:12] mattstauffer commented on #36
Added (by @ctroms).

[2018-10-12 14:12] #36 closed

[2018-10-14 12:44] manogi commented on #39
Here's my first report: right after updating the version from 0.2.0 to 0.2.1 it is showing on the packagist site, but not in the JSON feed you provided the URL for (and not on novapackages.com, of course).

[2018-10-14 14:10] manogi commented on #39
Same result after an hour.
So this is because of the long caching in the Packagist API.
Actually this is not such a big deal to me - I don't know how many people actually check the version on novapackages.com, when they run `composer update`  they will get the newest version anyway, so... I guess it is up to you if you want the versions to show up quicker or not.

Cheers Sebastian

[2018-10-14 14:10] #39 closed

[2018-10-25 18:15] sariyana commented on #25
This is in and should be good to go! Let us know if there are any questions!

[2018-10-26 06:36] manogi commented on #25
Thanks for the improvement - it's still not working when selecting "All Packages", though. After the jump back I'm in "Poupular & Recent" again.

[2018-10-29 21:02] sariyana commented on #25
Thanks for letting us know. We’ll get that fixed as soon as possible!

[2018-10-30 17:45] sariyana commented on #25
Alrighty, we should be all set now! The "all packages" filter should be working correctly now.

[2018-10-30 17:45] #25 closed

[2018-10-30 23:33] king724 commented on #24
This seems to be added with other enhancements. Thank you!

[2018-10-30 23:33] #24 closed

[2018-10-30 23:35] sariyana commented on #24
Sorry, I forgot to close this one, but yes it's taken care of. Thanks for your help, @king724!

[2018-11-04 20:45] oliverpool opened #40 "sitescontrol can't be displayed (404)"
Hi,

Currently the homepage features a `sitescontrol` package which can't be displayed:

* clicking on the card links to https://novapackages.com/packages/laraveldo/sitescontrol%2FsitesControl (which raises a 404)
* clicking on the [author](https://novapackages.com/collaborators/YounessTayer) and then on the package leads to another link (`/` is not escaped) https://novapackages.com/packages/larav

[2018-11-06 23:24] Bautistaluis opened #41 "Translation of metrics"
How can I translate the title of my metrics into Spanish, since in my view it shows them in English.
I was also wondering if it is possible to translate the names shown by the partition type metric.

These are the metrics that I want to translate.
![captura de pantalla 2018-11-06 a la s 17 18 02](https://user-images.githubusercontent.com/42613049/48100395-b29b8900-e1e8-11e8-9935-30f210e5103f.png)

[2018-11-09 22:04] devmsh opened #42 "Recently updated packages"
Some packages are very helpful, but they are not ready to be used in early stage, so I feel that we need another sorting for the latest updated packages, so we can keep an eyes on them and give them another try?

[2018-11-10 13:59] niladam commented on #42
That'd be a great option.

[2018-11-10 14:01] niladam commented on #1
Apparently this has been implemented (though it needs some more work) and can probably be closed.

[2018-11-10 14:44] ctroms commented on #1
This has been implemented recently. To mark a package as favorited, click on a package's title to view the details, then click the `Add to Favorites` link in the right hand column. Once favorited, you can remove the package from your favorites in the same place. To view all of your favorites, click the `packages` link in the main navigation at the top of the site. @niladam would you please provide

[2018-11-10 14:45] #35 closed

[2018-11-10 20:38] niladam commented on #1
@ctroms -- well, i think the wording is not pretty clear.

Upon inspecting a package, you're presented with the text "0 Favorites" as in the screenshot. This could incorrectly lead to people thinking 'no-one addded this to their favourites';

<p align="center"><img width="318" alt="screenshot 2018-11-10 22 20 32" src="https://user-images.githubusercontent.com/4151765/48305632-07b40380-e537-11e8-96

[2018-11-12 13:02] niladam opened #43 "Rating value incorrectly formated on collaborator page"
I just noticed this while browsing[ a collaborators' page ](https://novapackages.com/collaborators/yassipad);

The rating is being displayed as `4.3333333333333` when it probably should be `4.3`

Screenshot attached

<img width="1243" alt="screenshot 2018-11-12 15 01 38" src="https://user-images.githubusercontent.com/4151765/48349091-e3b60680-e68b-11e8-820e-b5ef297adcd8.png">

[2018-11-12 14:09] ctroms commented on #1
@niladam Thanks for the comments and screenshots.

"0 Favorites" is meant to imply that no one has favorited the package. If multiple users have favorited the package, that text will reflect the total number of favorites from all users. Also, the "Add to Favorites" text link should display "Add to Favorites" if you have not already favorited the package, and "Remove Favorite" if you have already f

[2018-11-12 14:09] #1 closed

[2018-11-12 17:09] sariyana commented on #43
Hi, thanks for letting us know. We'll get this taken care of!

[2018-11-12 22:11] sariyana commented on #43
This should be all taken care of now!

[2018-11-12 22:11] #43 closed

[2018-11-13 19:55] rzv-me commented on #42
I would love that too

[2018-11-14 04:04] nsaumini opened #44 "Screenshot from Github readme not displaying"
I have created new [package](https://novapackages.com/packages/saumini/ellipsis-textarea). When its displaying Readme from Github link it doesn't show the screenshot.

How to fix this?

![screen shot 2018-11-14 at 09 31 39](https://user-images.githubusercontent.com/12414016/48459479-56d88d80-e7f0-11e8-817c-0cb4f1e1c8a8.png)

[2018-11-14 04:07] ctroms commented on #44
@nsaumini Thanks for reaching out. We are aware of this issue and will have a fix soon. Sorry for any inconvenience this may have caused.

[2018-11-14 13:19] niladam commented on #44
@nsaumini The screenshot under screenshot is usually uploaded. If it's contained in your readme the URL to it should be changed from `./screenshot` to the actual URL of the image. Tired that already ?

[2018-11-14 14:29] nsaumini commented on #44
@niladam I used relative path thats why it didn't work. Once I updated to full path, its working now. Thanks

[2018-11-14 14:29] #44 closed

[2018-11-14 14:37] niladam commented on #44
@nsaumini glad you sorted it :)

[2018-12-06 22:43] vootrunner opened #45 "Enhancement Request - Star Ratings"
Any chance of indicating the date of the last rating for a package (e.g. last rated 15-June-2001) under the rating count? Or perhaps something like "Last rated ** on 01-July-2016"

Packages still feel too much like a roll of the dice. Just bit by another 5 star rated package that just doesn't work.

[2018-12-07 15:48] mattstauffer commented on #45
@vootrunner That's a really good request. I wish we had the number of reviews to make a "reviews this version" vs "reviews all time" etc., or a WordPress "compatibility with this version" kinda thing.

We'll think about this and try to find out if there are any useful ways to try to avoid this problem--thank you!

[2018-12-12 12:20] daniel-de-wit opened #46 "Screenshot upload too large error message"
![image](https://user-images.githubusercontent.com/3015394/49869424-a4a4dd80-fe10-11e8-9e94-91f5e27da085.png)

[2018-12-29 17:40] dillingham opened #47 "Report feature that creates issues"
Add a "report" button that automatically creates a github issue with the comment.
Maybe some automations could happen for "dead-package" labels etc

[2019-01-03 14:58] mattstauffer commented on #47
Great idea! I think we have one of these in progress right now. Will go check.

[2019-01-05 04:22] #34 closed

[2019-01-05 12:40] niladam opened #48 "Popular packages text overflow"
Apparently the **Element UI** is causing some issues:

<img width="1213" alt="screenshot 2019-01-05 14 34 59" src="https://user-images.githubusercontent.com/4151765/50724542-c0da2880-10f7-11e9-9cef-dd08d0abb70b.png">

[2019-01-05 14:12] mattstauffer commented on #48
Fixed. Thanks for reporting!

[2019-01-05 14:12] #48 closed

[2019-01-12 00:45] dillingham opened #49 "Table markdown style support"
[code]
before
![example](https://user-images.githubusercontent.com/29180903/51066542-cbedf680-15d8-11e9-9994-186547918f9d.png)

after
![after](https://user-images.githubusercontent.com/29180903/51066690-ac0b0280-15d9-11e9-9119-7bc8db4bf0ac.png)

[2019-01-12 04:01] dillingham opened #50 "Basic profile css tweaks"
to the section with image `h-48 w-48 border-4` the rounded works better with the logo

profile pic wrapper div
add `border-white rounded-full overflow-hidden mb-8`

package cards
and add `p-8 border-grey` vs `p-4 border-grey-darker` to the package cards for more spacing like below

section headers wrapper
add `p-4 bg-grey-lightest mx-4`

![after](https://user-images.githubusercontent.com/29180903/

[2019-01-16 16:05] dillingham commented on #49
😢 lol @mattstauffer

![sad](https://user-images.githubusercontent.com/29180903/51261590-86d21780-197e-11e9-8c65-4302594865a0.png)
https://novapackages.com/packages/dillingham/nova-button

[2019-01-16 16:25] mattstauffer commented on #49
@dillingham haha, ok, taking a look now--thanks!

[2019-01-16 16:52] mattstauffer commented on #49
<img width="518" alt="image" src="https://user-images.githubusercontent.com/151829/51264715-22668680-1985-11e9-9614-331bfca0b1d3.png">

Fixed. There's a separate issue where our table parser isn't liking this table of yours:

<img width="860" alt="image" src="https://user-images.githubusercontent.com/151829/51264735-2c888500-1985-11e9-99bb-930ef8c95552.png">

[2019-01-16 16:55] mattstauffer commented on #49
@dillingham maybe it's because you use three ticks in the middle top code block instead of one tick?

[2019-01-16 16:58] dillingham commented on #49
@mattstauffer looks great! I had a ````` triple tilde code there by accident. I updated the readme

[2019-01-16 16:58] #49 closed

[2019-01-16 17:15] mattstauffer commented on #50
Done, with modifications. Thanks!!

[2019-01-16 17:15] #50 closed

[2019-01-16 18:36] dillingham commented on #50
Thanks Matt!

[2019-01-31 21:58] dillingham opened #51 "Header Emoji Support"
I know I know, you can't support every little thing :)

But some packages are using emjois and they arent being parsed.

https://novapackages.com/packages/dkulyk/nova-related-filter

`:rocket:` in the headline vs :rocket:

**Update** Issue seems to only be in the header
https://novapackages.com/packages/maatwebsite/laravel-nova-excel

`:rocket` is on that page also

[2019-02-01 14:22] mattstauffer commented on #51
@dillingham I think what's happening is that our GitHub readme parser isn't converting the emoji. Great point! We'll have to figure out if there's a normalized tool for converting Slack/GitHub-style emoji over to real emoji.

[2019-02-02 21:03] alexagui opened #52 "add "See More" to Popular packages section of the homepage"
I'd like to see an index page of all the Popular packages.

[2019-02-04 09:08] jmarcher opened #53 "Back button"
When coming from Google (or any other external link), the back button sends me to a blank Tab in Chrome.

[2019-02-04 16:15] mattstauffer commented on #53
I can't reproduce--can you share more?

[2019-02-22 13:13] voidgraphics opened #54 "Markdown parser link bug"
It seems the way your parse markdown in the readme files does not allow mailto links. At least that's what it looks like, I don't know for sure that it is the source of the problem.

You can see an example of this all the way at the bottom of [this readme](https://novapackages.com/packages/whitecube/nova-page).

The mailto link looks fine [on github](https://github.com/whitecube/nova-page/blob/mas

[2019-02-24 12:55] eldor opened #55 "GitHub names not updated after OAuth signup"
After you have signed up with GitHub the GitHub names are saved and never updated from Github.

[2019-03-07 15:06] andrewmile commented on #54
Mailto links now appear the same as they do on the github readme.

[2019-03-07 15:06] #54 closed

[2019-03-19 10:34] ballin2 opened #56 "Package broken?"
lol, posted on the wrong page

[2019-03-19 11:14] #56 closed

[2019-04-04 12:00] katieben opened #57 "Sort by computed field [needs label: package-idea]"
Package idea: I'd love to be able to sort by computed field. Right now I'm just adding the field as a regular field, and periodically double-checking it (ew :). Anyone have a smarter idea?

[2019-04-04 12:02] katieben commented on #57
I'm trying to label this as a package idea and I'm unsure how (maybe I don't have access)? FYI if someone can label this.

[2019-04-04 18:25] mattstauffer commented on #57
@katieben If you add it as an issue here, @dillingham will add the label for you. :) Thanks!! Also.. BTW.. I would *love* this if it is technically possible...

https://github.com/tightenco/nova-package-development/issues

[2019-04-04 18:25] #57 closed

[2019-04-14 02:41] hanchenglu opened #58 "Nova Slider Package doesn't work in Nova v1.3.2"
Laravel Version : 5.7
Nova Version : 1.3.2
PHP Version : 7.2
**Description**
I installed nova slider package in my nova via composer command, and then I defined a filter extending nova slider class.
But I faced this issue.
"Uncaught (in promise) TypeError: Cannot set property 'currentValue' of undefined in app.js"
I've been stuck on fixing this issue.
Some people say that I have to revert to 1.1.7

[2019-04-14 13:16] mattstauffer commented on #58
@hanchenglu this should go on the GitHub repo for the nova slider package.

[2019-04-14 13:16] #58 closed

[2019-04-16 10:55] LorenzoSapora opened #59 "README duplicating"
Duplicate of the README sections (see: https://novapackages.com/packages/elevate-digital/nova-charcounted-fields).

I can't see where you'd be pulling this from, as both composer, and github, have the uptodate versions.

[2019-04-16 12:37] mattstauffer commented on #59
@LorenzoSapora There are two sections of each page; the installation instructions and the readme.

The readme comes directly from version control. The installation instructions the author edits themselves.

[2019-04-16 12:37] #59 closed

[2019-04-19 18:00] bolechen commented on #52
+1

[2019-04-19 18:00] bolechen commented on #42
+1

[2019-06-20 10:30] inodesrl opened #60 "Permission on role"
Hello,
I couldn't create an attached permission on a specific role.
When I click on "attach permission" on edit page of role , no permission shown in the combobox.

thanks, Marco.

[2019-06-22 22:44] mattstauffer commented on #60
@inodesrl This repo is for issues about novapackages.com. If you'd like help with Nova, either check out the Laravel Discord and ask there, or, if it's a bug, their issue tracker: https://github.com/laravel/nova-issues/

[2019-06-22 22:44] #60 closed

[2019-07-06 10:16] #51 closed

[2019-07-06 10:16] #47 closed

[2019-08-07 14:50] dillingham opened #61 "Published a fork of my package"
Kind of weird scenario. I don't _really_ care but is that desired?
https://novapackages.com/packages/laravelrotebal/nova-attach-many

[2019-08-07 16:07] #61 closed

[2019-08-07 16:48] mattstauffer commented on #61
I mean, it's open source, so I think it's fine? `¯\(°_o)/¯`

[2019-08-07 16:52] dillingham commented on #61
Cool, just seemed unusual to have duplicates with identical readmes etc

[2019-08-07 17:06] mattstauffer commented on #61
Ah, so it's a fork with no changes to the features or readme?

[2019-08-07 17:09] mattstauffer commented on #61
I looked. They changed the title and are clearly intending to change the features. That's the nature of open source.

I'm also deleting your one-star rating on their package. Please don't do that.

[2019-08-07 17:11] dillingham commented on #61
UMM at the time I filed this it was 100% identical
SOOOO yeah I thought that warranted a 1 star

[2019-08-07 17:27] mattstauffer commented on #61
There are better ways.

[2019-08-07 17:31] dillingham commented on #61
Given that people can easily pack malicious code in this compiled js files and distribute them....
I was confused initially by the identical release of a package....
But thanks for taking the time to teach me about open source.

[2019-08-07 17:44] #31 closed

[2019-08-07 17:44] #27 closed

[2019-08-07 17:44] #15 closed

[2019-08-07 17:45] #8 closed

[2019-08-07 17:45] #9 closed

[2019-08-07 17:46] mattstauffer commented on #61
Any time.

[2019-08-07 19:38] mattstauffer commented on #61
For anyone coming across this thread after the fact, there were comments in the original thread that have been since deleted. I will keep all of mine up here even if they may not make sense without the comments they were responding to.

[2019-08-07 21:34] dillingham commented on #61
I deleted a comment about why I rated one star 🙄

[2019-08-10 02:30] mattstauffer commented on #61
Yep you did 🙄

[2019-09-06 16:08] itafor opened #62 "I can't assign roles to more than two users"
After assigning roles to two users and i try to assign role to the third user i normally get this error

SQLSTATE[23000]: Integrity violation constraint : 1452 cannot add or update child row: a foreign key constraint fails

Pls, i need urgent help;
Thanks

[2019-09-06 16:38] mattstauffer commented on #62
If anything this would fit https://github.com/laravel/nova-issues but i think it's likely better in Discord or StackOverflow.

[2019-09-06 16:38] #62 closed

[2019-10-28 09:33] timcv opened #63 "Report package"
Hi, a button to report packages that is no longer maintaind or not working would be great so they could be removed.

This packages is removed, but still listed on novapackages.com.

https://novapackages.com/packages/jobcerto/nova-grid

[2019-10-29 21:33] mattstauffer commented on #63
Great idea!

[2019-11-03 23:46] JoshMoreno opened #64 "Broken screenshots"
All the screenshots are broken.

Here's a few packges to inspect:
- https://novapackages.com/packages/cdbeaton/boolean-tick
- https://novapackages.com/packages/codebykyle/calculated-field
- https://novapackages.com/packages/kirschbaum-development/nova-mail

[2019-11-03 23:48] jakebathman commented on #64
Thanks so much Josh. I’ll take a look and see if I can’t get them resolving correctly.

[2019-11-04 00:14] jakebathman commented on #64
Our wonderful @sariyana got screenshots up and visible again, thanks for the report Josh!

[2019-11-04 00:14] #64 closed

[2020-01-07 20:26] wgmv opened #65 "Details Pages don't load"
Reproduce e.g. on [Package Details Page](https://novapackages.com/packages/optimistdigital/nova-translatable)

I see 2 console errors:

`app.js:1 TypeError: Cannot read property 'composer_name' of undefined`
`app.js:1 TypeError: Cannot read property 'name' of undefined`

I think yesterday the page worked fine, but today the details pages don't seem to load.

[2020-01-07 20:43] damiani commented on #65
We were in the midst of an update when you noticed this; can you try that detail page again?

[2020-01-07 20:49] wgmv commented on #65
I'm still seeing it in Opera, but not in firefox / edge. Earlier I only chcked Opera so it might be cached - but I did try to reload the app.js

[2020-01-07 20:56] wgmv commented on #65
Seems fixed!

[2020-01-07 20:56] #65 closed

[2020-01-09 07:06] bahirbarak opened #66 "Persian Date Picker"
Persian Date picker have a problem when we select a date for example( 2020-01-8) it add one date and show 2020-01-09 for persian date hope to solve this issue
Date picker package link https://novapackages.com/packages/aloko/nova-persian-datepicker

[2020-01-13 20:32] mattstauffer commented on #66
Hi @bahirbarak, this is not the place for individual packages' issues. Please visit the repo for that package.

[2020-01-13 20:32] #66 closed

[2020-01-13 20:32] #40 closed

[2020-01-13 20:34] mattstauffer commented on #29
Added :) Please consider moving any conversation about "broken" to #63.

[2020-01-13 20:34] #29 closed

[2020-01-13 20:35] #53 closed

[2020-01-14 06:54] bahirbarak commented on #66
ok thank you

[2020-01-16 03:46] LorenzoSapora opened #67 "Add to rating stars with github stars & used by"
Much like #45, the rating system is underused, and prone to initial gaming. I make a package, I 5 star it (or my puppet account does), and I have instant credibility.

If the cards included at least one of the metrics (used by, watch, star, fork), and possibly all of that information once on the package page itself, the ratings could be more authentic, at a glance.

[2020-01-16 19:52] mattstauffer commented on #67
@LorenzoSapora Could you tell me a little bit more about what you mean by "credibility"? is it just how the star rating looks on the package itself? Or are there other pages that feel like they're being gamed?

I'm definitely interested in pulling in more Packagist data for validation, though! Let me take a look at that.

[2020-01-16 21:21] mattstauffer commented on #67
![image](https://user-images.githubusercontent.com/151829/72563667-2967f380-387c-11ea-9636-a4240bb0ae88.png)

Easy-to-add were at least stars and downloads. Not sure if I want to try to cram those onto the cards though.

[2020-01-16 22:36] LorenzoSapora commented on #67
By "credibility" I purely mean someone looking at the card view packages, would see 5 yellow stars, and skip over the light grey (1). Even the highest rated package on novapackages only has 44 stars, so it's not inconceivable to view 1-2 stars being classed as "good enough".

Love the additions made to the package pages. Great job.

[2020-01-17 14:31] mattstauffer commented on #67
Hm. I like to think we've all been conditioned to look at the number reviews by Amazon, right?

![image](https://user-images.githubusercontent.com/151829/72619774-07b64d00-390c-11ea-8045-b6501b1a476a.png)

![image](https://user-images.githubusercontent.com/151829/72619809-17ce2c80-390c-11ea-9e2e-4f24f3d8673c.png)

I do think we would do well to ban the author from rating it, but like you said, tha

[2020-01-18 17:41] rickmills commented on #52
Surprised this hasn't been added yet, being able to see the most popular packages (more than 6) would help find the most likely ones you're going to want/need to install. Without that its super hard to find widely used packages.

[2020-01-27 10:57] tswonke commented on #42
+1

Yes, please! Shouldn't be difficult since this is all Laravel I guess! 😄

[2020-01-27 14:43] mattstauffer commented on #4
Moved to https://github.com/tightenco/novapackages/issues

[2020-01-27 14:43] #4 closed

[2020-01-27 14:44] mattstauffer commented on #21
Moved to https://github.com/tightenco/novapackages/issues

[2020-01-27 14:44] #21 closed

[2020-01-27 14:44] #32 closed

[2020-01-27 14:46] mattstauffer commented on #37
Moved to https://github.com/tightenco/novapackages/issues

[2020-01-27 14:46] #37 closed

[2020-01-27 14:46] #41 closed

[2020-01-27 14:47] mattstauffer commented on #42
Moved to https://github.com/tightenco/novapackages/issues

[2020-01-27 14:47] #42 closed

[2020-01-27 14:48] mattstauffer commented on #45
Moved to https://github.com/tightenco/novapackages/issues

[2020-01-27 14:48] #45 closed

[2020-01-27 14:48] #46 closed

[2020-01-27 14:49] mattstauffer commented on #52
Moved to https://github.com/tightenco/novapackages/issues

[2020-01-27 14:49] #52 closed

[2020-01-27 14:50] mattstauffer commented on #55
Moved to https://github.com/tightenco/novapackages/issues

[2020-01-27 14:50] #55 closed

[2020-01-27 14:50] mattstauffer commented on #63
Moved to https://github.com/tightenco/novapackages/issues

[2020-01-27 14:50] #63 closed

[2020-01-27 14:51] mattstauffer commented on #67
Moved to https://github.com/tightenco/novapackages/issues

[2020-01-27 14:52] #67 closed